.items-grid__item .quantity[data-v-6c2e4e8e]{color:#fff;font-weight:700}.items-grid__item .item-grid__overlay-btns-container[data-v-6c2e4e8e]{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;margin-top:5px}.items-grid__item .item-grid__overlay-btns-container button[data-v-6c2e4e8e]:first-child{margin-right:5px}.full-width[data-v-6c2e4e8e]{width:100%}.items-grid__image[data-v-6c2e4e8e]{height:150px;position:relative;cursor:default;overflow:hidden}.items-grid__image img[data-v-6c2e4e8e]{max-height:100%;max-width:100%;width:auto;height:auto;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}.items-grid__image .items-grid__item-discount-percent[data-v-6c2e4e8e]{font-family:Open Sans,sans-serif;font-size:13px;color:#fff;position:absolute;top:10px;left:-20px;display:block;background:#4ea9df;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);width:50%;z-index:1;text-align:center}.items-grid__name[data-v-6c2e4e8e]{color:#303133;margin:0;width:100%;padding-bottom:3px;min-height:2.9em;max-height:2.9em;overflow:hidden;padding-bottom:1px}.items-grid__name[data-v-6c2e4e8e]:hover{max-height:none;overflow:visible;text-decoration:underline}.unit_text[data-v-6c2e4e8e]{font-size:.9em;color:#a3a3a3;display:block}.price[data-v-6c2e4e8e],.special_price[data-v-6c2e4e8e]{font-weight:600;padding-bottom:5px;display:inline-block}.special_price[data-v-6c2e4e8e]{text-decoration:line-through;color:#a3a3a3;padding-right:7px}/*! CSS Used from: Embedded */.items-grid__item[data-v-6c2e4e8e]{position:relative;-webkit-transition:all .3s ease;transition:all .3s ease;padding-bottom:30px}.items-grid__content[data-v-6c2e4e8e]{padding-top:15px;font-size:.9em;max-height:9em;min-height:9em}.items-grid__name a[data-v-6c2e4e8e]{color:#303133}.item-grid__image-overlay[data-v-6c2e4e8e]{background:rgba(0,0,0,.5);position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;opacity:0;visibility:hidden;-webkit-transition:all .3s ease;transition:all .3s ease;z-index:2}.items-grid__item-in-cart[data-v-6c2e4e8e]{position:absolute;right:5px;top:5px;background-color:#5acdb4;border-radius:20px;height:20px;color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-size:10px;padding:0 7px}.items-grid__placeholder-text[data-v-6c2e4e8e]{margin-top:10px;width:80%}.quantity-control--specific-store[data-v-6c2e4e8e]{display:none}@media screen and (max-width:1100px){.items-grid__content[data-v-6c2e4e8e]{padding-top:10px}}@media screen and (max-width:767px){.items-grid__content[data-v-6c2e4e8e]{padding-top:12px}.items-grid__item--show-overlay .item-grid__image-overlay[data-v-6c2e4e8e]{opacity:1;visibility:visible}.grid-grocery-item--show-qty-control-mobile .item-grid__image-overlay[data-v-6c2e4e8e]{display:none}.grid-grocery-item--show-qty-control-mobile .quantity-control--specific-store[data-v-6c2e4e8e]{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex}}@media screen and (min-width:768px){.items-grid__item:hover .item-grid__image-overlay[data-v-6c2e4e8e]{opacity:1;visibility:visible}}.store-distance__url[data-v-75c698ba]{display:-webkit-box;display:-ms-flexbox;display:flex;color:#8d8d8f}.store-distance__url[data-v-75c698ba]:hover{color:#616161}.store-distance__name[data-v-75c698ba]{padding-right:10px}
































































































































/*! CSS Used from: file:///Users/maron/Downloads/new-version-website%202/newpage.css */.clearfix[data-v-066a4107]:after{display:block;content:"";clear:both;overflow:hidden}a[data-v-066a4107]:active,a[data-v-066a4107]:focus,a[data-v-066a4107]:hover,a[data-v-066a4107]:visited{outline:0;text-decoration:none}img[data-v-066a4107]{max-width:100%}.items-grid__item[data-v-066a4107]{position:relative;-webkit-transition:all .3s ease;transition:all .3s ease;margin-bottom:20px}.items-grid__image[data-v-066a4107]{height:150px;position:relative}.items-grid__image img[data-v-066a4107]{max-height:100%;max-width:100%;width:auto;height:auto;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}.items-grid__content[data-v-066a4107]{padding-top:15px}.items-grid__left[data-v-066a4107]{width:100%;display:inline-block;vertical-align:top}.items-grid__item:hover .items-grid__right[data-v-066a4107]{opacity:1;visibility:visible}.items-grid__name[data-v-066a4107]{color:#303133;font-weight:600;font-size:15px;margin:0;overflow:hidden;text-overflow:ellipsis;width:100%;white-space:nowrap;padding-bottom:10px}.items-grid__name a[data-v-066a4107]{color:#303133}.item-grid__image-overlay[data-v-066a4107]{background:rgba(0,0,0,.5);position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;opacity:0;visibility:hidden;-webkit-transition:all .3s ease;transition:all .3s ease;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.item-grid__image-overlay span[data-v-066a4107]{color:#fff;font-size:16px;font-weight:700}.item-grid__image-overlay img[data-v-066a4107]{max-width:20px}.items-grid__item:hover .item-grid__image-overlay[data-v-066a4107]{opacity:1;visibility:visible}[data-v-066a4107]::-webkit-scrollbar{display:none}.items-grid__content[data-v-066a4107]{min-height:65px}

/*! CSS Used from: file:///Users/maron/Downloads/new-version-website%202/newpage-responsive.css */@media screen and (max-width:1100px){.items-grid__content[data-v-066a4107]{padding-top:10px}.items-grid__name[data-v-066a4107]{font-size:15px}}@media screen and (max-width:900px){.items-grid__time-left[data-v-066a4107]{font-size:11px}.items-grid__name[data-v-066a4107]{font-size:15px}.items-grid__discount[data-v-066a4107]{margin-bottom:5px}}@media screen and (max-width:767px){[class*=col-][data-v-066a4107]{padding-left:7px;padding-right:7px}.items-grid__item[data-v-066a4107]{margin-bottom:30px}.item-grid__image-overlay[data-v-066a4107]{display:none!important}.items-grid__right[data-v-066a4107]{opacity:1;visibility:visible}.items-grid__content[data-v-066a4107]{padding-top:12px;white-space:normal}.items-grid__name[data-v-066a4107]{font-size:15px}.items-grid__discount[data-v-066a4107]{font-size:11px;padding:1px 10px;margin-bottom:12px}}.ais-RefinementList-list *{cursor:pointer}.ais-RefinementList-label{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.ais-RefinementList-label *{padding:5px 0 5px 10px}.ais-RefinementList-labelText{font-size:12px;font-weight:400}.ais-RefinementList-count{font-size:12px;color:#999}.ais-RefinementList-list input{margin:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #ddd;border-radius:3px;display:inline-block;height:20px;width:20px}.ais-RefinementList-list input:checked{background-color:#555}.ais-RefinementList-list input:checked:after{content:"";display:inline-block;margin:0;height:18px;width:18px;background:40% 40% no-repeat url(../img/check.717d7d37.svg)}.category-filter__item{font-size:12px;font-weight:400;color:#303133;padding-bottom:10px}.category-filter__item a{color:#131302}.category-filter__item label{font-weight:400}.category-list__inner{padding-top:15px;padding-left:20px}.category-filter__item--refined{font-size:13px;font-weight:700}.category-filter__item--refined .icon--arrow-left{font-size:10px;padding-right:10px}.category-filter__refinement{margin-left:20px;margin-top:10px}.sub-category__heading{font-size:12px;color:#8d8d8f;font-weight:700}.category-list{padding-bottom:100px}.page-title h1{font-size:26px}.breadcrumbs{margin:12px 0 25px 0}.breadcrumbs li{color:#8d8d8f;font-size:12px;display:inline-block}.breadcrumbs li a{color:#303133}.breadcrumbs li strong{font-weight:400}.category-filter__list{display:-webkit-box;display:-ms-flexbox;display:flex}.category-filter__list .category-filter__item{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-negative:0;flex-shrink:0;padding-bottom:0}.category-filter__list .category-filter__item a{padding:6px 16px;margin-right:8px;border:1px solid #303133;border-radius:24px;font-weight:700}.category-filter__list .category-filter__item.category-filter__item--selected>a{pointer-events:none;background:#303133;color:#fff}.category-filter .app-ph[data-v-513c75c2]{height:400px}.same-as-last[data-v-513c75c2]{margin-top:20px}.page-title[data-v-513c75c2]{display:inline}.category-list__sidebar.default[data-v-513c75c2]{top:0}.category-filter[data-v-513c75c2]{background:#fff;text-align:left;border-top:1px solid #dadada;padding-top:20px}.category-filter .accordion .card[data-v-513c75c2]:first-of-type,.category-filter .accordion .card[data-v-513c75c2]:not(:first-of-type):not(:last-of-type){border-bottom:1px solid #dadada;border-top:0}.category-filter .card-header[data-v-513c75c2]{background:transparent;border:0;padding:20px 0;border-radius:0}.category-filter .card-header h5[data-v-513c75c2]{font-size:14px;color:#303133;font-weight:700;margin:0}.category-filter .card-header h5 .btn[data-v-513c75c2]:after{content:"";background:url(https://www.aha.is/media/wysiwyg/svg/arrow-down.svg);background-size:100% auto;background-repeat:no-repeat;transform:rotate(180deg);-webkit-transform:rotate(180deg);width:10px;height:6px;display:block;position:absolute;right:10px;top:7px}.category-filter .card-header h5 .btn.collapsed[data-v-513c75c2]:after{-webkit-transform:none;transform:none}.category-filter .card[data-v-513c75c2]{border-radius:0;border-left:0;border-right:0;border-bottom:1px solid #dadada;border-top:0}.category-filter .card-header .btn[data-v-513c75c2]{font-size:14px;color:#303133;font-weight:700;background:transparent;display:block;width:100%;text-align:left;padding:0;position:relative}.category-filter .card-body[data-v-513c75c2]{padding:0 0 20px}.category-filter__list .category-filter__item[data-v-513c75c2]{padding-bottom:10px}.category-list__inner[data-v-513c75c2]{padding:30px 0 0 50px!important}.category-filter__link[data-v-513c75c2]{color:#303133;font-size:12px;padding-left:40px;position:relative;display:block}.category-filter__link[data-v-513c75c2]:hover{color:#303133}.category-filter__link+.category-filter__link[data-v-513c75c2]{padding-left:50px;margin-top:20px}.category-filter__link[data-v-513c75c2]:before{content:"";background:url(https://www.aha.is/media/wysiwyg/svg/arrow-down.svg);background-size:100% auto;background-repeat:no-repeat;transform:rotate(90deg);-webkit-transform:rotate(90deg);width:10px;height:6px;display:block;position:absolute;left:10px;top:6px}.category-filter__link+.category-filter__link[data-v-513c75c2]:before{left:20px}.more-item[data-v-513c75c2]{font-size:12px;cursor:pointer}.category-filter [type=checkbox]:checked+label[data-v-513c75c2]:before{border:1px solid #303133;background:#303133}.category-filter [type=checkbox]:checked+label[data-v-513c75c2]:after{content:"";background:url(https://www.aha.is/media/wysiwyg/svg/check_white.svg) no-repeat;position:absolute;top:5px;left:4px;font-size:14px;color:#303133;-webkit-transition:all .2s;transition:all .2s;font-family:FontAwesome;font-weight:400;width:11px;height:9px}.show-more-wrapper[data-v-513c75c2]{padding:0 15px}.category-filter--chip-list[data-v-513c75c2]{overflow:auto;border-top:0;-ms-overflow-style:none;margin:0 15px;display:none;margin-bottom:5px}.category-filter--chip-list[data-v-513c75c2]::-webkit-scrollbar{display:none}@media screen and (max-width:767px){.category-filter--chip-list[data-v-513c75c2]{display:block}.category-list__sidebar[data-v-513c75c2]{visibility:hidden}.category-list__sidebar[data-v-513c75c2] .modal .card{border:none!important}.category-list__sidebar .category-filter[data-v-513c75c2]{border:none}.category-list__sidebar--app-ph[data-v-513c75c2],.category-list__sidebar .card-header[data-v-513c75c2]{display:none}.category-list__content[data-v-513c75c2]{margin-top:20px}}@media screen and (min-width:768px){.category-list__sidebar[data-v-513c75c2]{visibility:visible!important}.category-list__sidebar[data-v-513c75c2] .modal{position:static}.category-list__sidebar[data-v-513c75c2] .modal .modal-dialog{width:unset;margin:0}.category-list__sidebar[data-v-513c75c2] .modal .modal-footer,.category-list__sidebar[data-v-513c75c2] .modal .modal-header{display:none}.category-list__sidebar[data-v-513c75c2] .modal .modal-body{padding:0}.category-list__sidebar[data-v-513c75c2] .modal .card{border:none!important}}.category-path[data-v-b88e8796]{font-size:10pt}.category-path .divider[data-v-b88e8796]{margin-left:2px;margin-right:4px}.category-path span:last-child .link[data-v-b88e8796]{opacity:.7}.category-path span:last-child .divider[data-v-b88e8796]{display:none}@media screen and (max-width:767px){.view-category__page-title[data-v-b88e8796]{display:none}}@media screen and (min-width:768px){.view-category[data-v-b88e8796]{margin-top:40px}}